* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 40px;
    background-color: white;
}

a {
    text-decoration: none;
}

h1 > a {
    color: black;
}

h1 {
    margin-bottom: 40px;
    background-color: #fff5db;
    padding: 20px;
    margin-top: 0;
    margin-left: 0;
}

h2 > a {
    color: #008817;
}

h2 {
    margin-left: 30px;
    color: #008817;
}

p {
    font-style: italic;
    margin-left: 30px;
    margin-bottom: 30px;
}

.top-menu {
    
}